.hakkimda{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    width: 80%;
    position: relative;
    text-align: left;
    z-index: 1;
}

.hakkimda.show{
    visibility: visible;
}