.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: left;
    transition: opacity 0.6s ease-in-out;
}

.info.show{
    visibility: visible;
    opacity: 1;
}

.info.hide {
    opacity: 0; /* Gizlensin */
}

.info-baslik{
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    color: #C4C4C4;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    mix-blend-mode: difference;
    opacity: 0;
    transform: translateX(50px);
    transition: transform 0.5s ease, opacity 0.8s ease;
}

.info-baslik.show{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease, opacity 0.8s ease;
}

.info-baslik.hide{
    visibility: visible;
    opacity: 0;
    transform: translateX(50px);
    transition: transform 0.3s ease, opacity 0.5s ease;
}