.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    top: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    transition: opacity 0.6s ease-in-out;
}

.info.show{
    visibility: visible;
    opacity: 1;
}

.info.hide {
    opacity: 0;
}

.info-baslik{
    visibility: visible;
    align-items: start;
    font-family: "Raleway", sans-serif;
    color: #C4C4C4;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    opacity: 0;
    transform: translateX(20%);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.info-baslik.show{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.info-baslik.hide{
    visibility: visible;
    opacity: 0;
    transform: translateX(20%);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.info-text{
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: "Raleway", sans-serif;
    color: #C4C4C4;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    opacity: 0;
    transform: translateX(20%);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.info-text.show{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.info-text.hide{
    visibility: visible;
    opacity: 0;
    transform: translateX(20%);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

/* ÖNEMLİ! İletişim sayfasını hakkımda sayfasının altına ekle, iletişim sayfasına herhangi bir sayfadan girilince
 hakkımda sayfası yüklensin ama en alta kaymış şekilde (scrollable div). Hakkımdadan girilirse de, animasyonlu 
 ve otomatik bir şekilde sayfa aşağıya kaysın. Ayrıca mobil kısmına sığmıyor info içeriği, scrollable yap.*/