.proje{
    visibility: hidden;
    color: #000;
    opacity: 0;
    text-align: left;
    z-index: 1;
    transition: opacity 0.5s ease;
}

.proje.show{
    visibility: visible;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateY(0);
}