.proje{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 80%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-align: left;
    visibility: hidden;
    z-index: 1;
}

.proje.show{
    visibility: visible;
}

.kutu-disi{
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: 330px;
}

.proje-kutusu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    color: #000;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 10px;
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.1), /* dış gölge */
        inset 2px 2px 6px rgba(0, 0, 0, 0.2), /* iç koyu gölge */
        inset -2px -2px 6px rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    margin: 15px;
    cursor: pointer;
    opacity: 0;
    text-align: center;
    transform: translateY(50px);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.proje-kutusu.show{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.proje-kutusu.hide{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.proje-kutusu:hover{
    transform: scale(1.05);
}

.proje-kutusu:active{
    transform: scale(0.95);
}

.proje-icon{
    display: inline-block;
    width: 108px;
    height: 108px;
    margin-top: 15px;
    padding: 2px;
    filter: grayscale(100%) brightness(20%);
    opacity: 0.8;
    transition: filter 0.3s ease;
}